@model HoaDonView
@{
    ViewData["Title"] = "chi tiet don hang";
}
@{
    Layout = "_Admin";
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        .mainmenu {
            margin-left: 20%;
        }

        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: white;
        }

        tr, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">ORDERS</h3>
    <br />
    <br />
    <table class="mainmenu" style="width:800px">
        <tr>
            <td>Tên Khách Hàng: </td>
            <td>@Model.hd.ThanhVien.TenTv</td>
        </tr>
        <tr>
            <td>Ngày Đặt: </td>
            <td>@Model.hd.NgayDat</td>
        </tr>
        <tr>
            <td>Ngày Nhận: </td>
            <td>@Model.hd.NgayGiao</td>
        </tr>
        <tr>
            <td>Địa Chỉ: </td>
            <td>@Model.hd.ThanhVien.DiaChi</td>
        </tr>
        <tr>
            <td>Phí Ship: </td>
            <td>@Model.hd.PhiShip</td>
        </tr>
        <tr>
            <td>Trạng Thái Đơn Hàng: </td>
            <td>@Model.hd.TrangThai.TenTrangThai</td>
        </tr>
    </table>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center" id="dscm">DANH SÁCH SẢN PHẨM ĐÃ MUA </h3>
    <table class="mainmenu" style="width:800px">
        <thead>
            <tr>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Đơn Giá
                </th>
                <th>
                    Số Lượng
                </th>
                <th>
                    Giảm Giá
                </th>
                <th>
                    Thành tiền
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.chitiethd)
            {
                double a = (double)item.GiamGia * 100;
                item.GiamGia = a;
                <tr>
                    <td>
                        @item.HangHoa.TenHh
                    </td>
                    <td>
                        @item.DonGia .000 đ
                    </td>
                    <td>
                        @item.SoLuong
                    </td>
                    <td>
                        @item.GiamGia %
                    </td>
                    @{
                        item.GiamGia = (double)a / 100;
                    }
                    <td>
                        @item.ThanhTien .000 đ
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <span style="margin-left:900px;font-weight: bold">Tổng cộng:@ViewBag.TongTien .000 đ </span>
    <br />
    <br />
    <div class="mainmenu">
        <a asp-action="suadonhang" asp-route-id="@Model.hd.MaHd" class="w3-bar-item w3-padding w3-pale-yellow w3-button">Sửa</a>
        <a asp-action="Delete" asp-route-id="@Model.hd.MaHd" class="w3-bar-item w3-padding w3-pale-red w3-button">Xóa</a>
        <a asp-action="Index" class="w3-bar-item w3-padding w3-pale-blue w3-button">Trở Về</a>
    </div>
</body>

<script>// Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }</script>

