@model ecoNhom3.Models.HoaDon
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThanhVien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThanhVien.MaTv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.PhiShip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhiShip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai.MaTt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaHd">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
