@model IEnumerable<ecoNhom3.Models.HoaDon>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
    if (Context.Session.GetInt32("LoaiTv") == 1)
    {
        Layout = "_Admin";
    }
    else
    {
        Layout = "_Customer";
    }
}

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">ORDERS</h3>
    <br />
    <br />
  
    <p>
        <a asp-action="Create" class="w3-bar-item w3-button w3-padding w3-pale-red"><i class="fa fa-plus-square"></i> ADD ORDER</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã Hóa Đơn
                </th>
                <th>
                    Ngày Đặt
                </th>
                <th>
                    Trạng Thái Đơn Hàng
                </th>
                <th>
                    Tổng Tiền
                </th>
                <th>
                    Mã Tv
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>

                @{
                    if (item.MaTt == 1)
                    {
                        <td> Chờ xử lý</td>
                    }
                    else if (item.MaTt == 2)
                    {
                        <td> Đã xử lý</td>
                    }
                    else if (item.MaTt == 3)
                    {
                        <td> Đã giao</td>
                    }
                    else
                    {
                        <td> Hủy</td>
                    }
                }

                <td>
                    @Html.DisplayFor(modelItem => item.TongTienHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTv)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHd" asp-controller="HoaDons" class="w3-pale-yellow w3-button">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHd" asp-controller="HoaDons" class="w3-pale-red w3-button">Xóa</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>