@model ecoNhom3.Models.HangHoa
@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_Admin";
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        .mainmenu {
            margin-left: 20%;
        }

        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: white;
        }

        tr, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">PRODUCTS</h3>
    <br />
    <br />
    <div class="mainmenu">
        <h4>Xóa Hàng hóa này ?</h4>
        <hr />
        <table style="width:800px">
            <tr>
                <td>Tên Sản Phẩm: </td>
                <td>@Html.DisplayFor(model => model.TenHh)</td>
            </tr>
            <tr>
                <td>Tên Loại: </td>
                <td>@Html.DisplayFor(model => model.Loai.TenLoai)</td>
            </tr>
            <tr>
                <td>Đơn Giá: </td>
                <td>@Html.DisplayFor(model => model.DonGia)</td>
            </tr>
            <tr>
                <td>Ảnh: </td>
                <td><img style="width:170px;height:150px;float:left; padding:5px;" src="~/images/@Html.DisplayFor(model => model.Hinh)" class="img-thumbnail" alt="Cinque Terre" /></td>
            </tr>
            <tr>
                <td>Nhà Cung Cấp: </td>
                <td>@Html.DisplayFor(model => model.NhaCungCap.TenNcc)</td>
            </tr>
            
            <tr>
                <td>Mô Tả: </td>
                <td>@Html.DisplayFor(model => model.MoTa)</td>
            </tr>
            <tr>
                <td>Giảm Giá: </td>
                <td>@Html.DisplayFor(model => model.GiamGia)</td>
            </tr>
           
        </table>
        <br />
        <br />
        <form asp-action="Delete">
            <input type="hidden" asp-for="MaHh" />
            <input type="submit" value="Xóa" class="w3-bar-item w3-padding w3-pale-red w3-button" />
            <a asp-action="Index" class="w3-bar-item w3-padding w3-pale-blue w3-button">Trở Về</a>
        </form>
    </div>
</body>