@using Microsoft.AspNetCore.Http;
@model IEnumerable<ecoNhom3.Models.ThanhVien>
@{
    ViewData["Title"] = "Admin";
    @if (Context.Session.GetInt32("LoaiTv") == 1)
    {
        Layout = "_Admin";
    }
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">Tài Khoản Admin</h3>
    <br />
    <br />
   
    <p>
        <a asp-action="Create" class="w3-bar-item w3-button w3-padding w3-pale-green"><i class="fa fa-plus-square"></i> Thêm tài Khoản</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tài Khoản
                </th>
                <th>
                    Họ Tên
                </th>
                <th>
                    Giới Tính
                </th>
                <th>
                    Ngày Sinh
                </th>
                <th>
                    Địa Chỉ
                </th>
                <th>
                    SĐT
                </th>
                <th>
                    Email
                </th>
                <th>
                    Loại Người Dùng
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioiTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-controller="ThanhViens" asp-action="Edit" asp-route-id="@item.MaTv" class="w3-pale-yellow w3-button">Sửa</a> |
                    <a asp-action="Delete" asp-controller="ThanhViens" asp-route-id="@item.MaTv" onclick="return confirm('Bạn có chắc muốn xóa Tài khoản này ?');" class="w3-bar-item w3-padding w3-pale-red w3-button">Xóa</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>