@model ecoNhom3.Models.ThanhVien
@{
    ViewData["Title"] = "Delete";
}
@{
    Layout = "_Admin";
}
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

        .mainmenu {
            margin-left: 30%;
        }

        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: white;
        }

        tr, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h3 class="w3-bar-item w3-padding w3-white" style="width:100%; text-align: center">ACCOUNTS</h3>
    <br />
    <br />
    <div class="mainmenu">
        <h4>Bán Muốn Xóa Người Dùng Này ?</h4>
        <hr />
        <table>
            <tr>
                <td>Họ Tên: </td>
                <td> @Html.DisplayFor(model => model.TenTv)</td>
            </tr>
            <tr>
                <td>Giới tính: </td>
                <td> @Html.DisplayFor(model => model.GioiTinh)</td>
            </tr>
            <tr>
                <td>Ngày Sinh: </td>
                <td> @Html.DisplayFor(model => model.NgaySinh)</td>
            </tr>
            <tr>
                <td>Địa Chỉ: </td>
                <td> @Html.DisplayFor(model => model.DiaChi)</td>
            </tr>
            <tr>
                <td>SĐT: </td>
                <td> @Html.DisplayFor(model => model.DienThoai)</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td> @Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>Ảnh đại diện: </td>
                <td><img style="width:170px;height:150px;float:left; padding:5px;" src="~/images/admin.png" class="img-thumbnail" alt="Cinque Terre" /></td>
            </tr>
            <tr>
                <td>Loại Người Dùng: </td>
                <td> @Html.DisplayFor(model => model.PhanLoaiTV.LoaiThanhVien)</td>
            </tr>
            <tr>
                <td>Tên Đăng Nhập: </td>
                <td> @Html.DisplayFor(model => model.TaiKhoan)</td>
            </tr>
        </table>
        <br />
        <br />
        <form asp-action="Delete">
            <input type="hidden" asp-for="MaTv" />
            <input type="submit" value="Xóa" class="w3-bar-item w3-padding w3-pale-red w3-button" />
            <a asp-action="Index" class="w3-bar-item w3-padding w3-pale-blue w3-button">Trở Về</a>
        </form>
    </div>
</body>