@model ecoNhom3.Models.ChiTietHd
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>ChiTietHd</h4>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.HangHoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HangHoa.MaHh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaCTHD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
