@model IEnumerable<ecoNhom3.Models.ChiTietHd>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HangHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoaDon.MaHd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HangHoa.MaHh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiamGia)
                </td>
                <td> 
                    <a asp-action="Edit" asp-route-id="@item.MaCTHD">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaCTHD">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaCTHD">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
